/* Variables */
/* Mixins */
/* For testing */
/* Global Settings */
html, body {
  padding: 0;
  margin: 0;
  color: #6c6c6c;
  font-family: serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #FCA180; }

h1 {
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #FCA180; }

a[role='button'] {
  display: inline-block;
  width: 8em;
  padding: 10px 15px;
  margin: 10px;
  border: 2px solid #FCA180;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #FCA180; }
  a[role='button']:hover {
    color: #fff;
    background-color: #FCA180;
    transition: background-color 1s ease-out; }

button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.buttons__block {
  margin-top: 30px;
  text-align: center; }

.flat-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.flat-list-item {
  display: inline-block; }

.hidden {
  display: none; }

/* Skeleton */
#container {
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  width: 100%; }

main {
  height: auto; }

header, main > section, footer > section {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0 5%;
  position: relative; }

header > section {
  background-color: #fff;
  height: 100%; }

main > section::before {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset; }
main > section:nth-of-type(odd) {
  background-color: #f7f7f7; }

footer > section {
  height: auto;
  padding: 30px 0;
  text-align: center; }

.section--autoHeight {
  min-height: 100vh;
  height: auto; }

.content {
  width: 70%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 100px);
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%);
  font-size: 1.1em;
  line-height: 1.6em; }

/* Landing */
.welcome {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%); }

/* Home */
.intro {
  width: 70%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 100px);
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%);
  font-size: 1.1em;
  line-height: 1.6em; }

.intro__buttons {
  margin-top: 30px;
  text-align: center; }

/* About */
#about {
  min-height: 100vh;
  height: auto; }

.content--autoHeight {
  height: auto;
  position: relative;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(0);
  padding-bottom: 30px; }

.skill {
  position: relative;
  overflow: auto; }

.skill__list {
  display: block;
  float: left;
  padding: 0;
  margin: 15px 60px 20px 20px; }

/* Work */
.work__container {
  display: block;
  width: 100%;
  margin: 1.7em auto; }

.work__item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 1em 1em 0;
  position: relative; }
  .work__item:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s; }

.work__img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: relative; }

.work__img--default {
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  color: #b9b9b9;
  background-color: #ececec; }

.work__text {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 30px;
  min-height: 100px; }

.work__text-title {
  margin: 0;
  padding: 0; }

.work__text-desc {
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  line-height: 1em; }

.work__tag {
  display: inline-block;
  list-style-type: none;
  min-width: 10px;
  padding: 0;
  margin-right: 5px;
  font-size: 0.6em;
  line-height: 1em;
  text-align: center; }

.work__tag--basic {
  color: #acacac; }

.work-link, .work-img {
  display: block;
  width: 100%;
  height: 100%; }

.work-cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: unset;
  left: unset;
  right: 0;
  background-color: rgba(252, 161, 128, 0.9); }

.work-cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.2em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%); }
  .work-cover-content > p {
    margin: 0; }

.work-cover-hidden {
  display: none; }

.workdetail-title {
  text-align: center; }

.workdetail__container {
  text-align: center; }

.workdetail-content__block {
  width: 100%;
  margin: 3em auto; }

.workdetail-image {
  width: 80%;
  max-width: 400px;
  margin: 10px auto; }
  .workdetail-image > img {
    width: 100%; }

.workdetail-info__block {
  width: 100%;
  margin: 2em auto; }

.workdetail-info {
  list-style-type: none; }
  .workdetail-info:not(:last-child) {
    margin-right: 1em; }

.workdetail-info-title {
  margin-right: 0.2em; }

.workdetail-info-value {
  color: #acacac; }

.workdetail-tag {
  margin-right: 0.2em; }

.workdetail-link {
  display: inline-block;
  margin: 0 0.2em;
  color: #acacac; }

/* ****************************************
 *
 *				Media Queires
 *
 **************************************** */
/* Small screen */
@media only screen and (max-width: 320px) {
  .workdetail-image {
    width: 100%; } }
/* Contact */
.contact__buttons {
  margin-top: 30px;
  text-align: center; }
  .contact__buttons > a {
    display: inline-block;
    padding: 10px 20px;
    position: relative; }

.button__text {
  display: inline-block;
  margin: 0 5px; }

/* Footer */
.contact__buttons--footer {
  margin-top: 0; }

.footer__block {
  margin-top: 20px; }

.footer__block > p {
  margin: 0; }

/* Font/Text */
.bold {
  font-weight: 700; }

/* Navbar */
.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.nav-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 5%; }

.nav-logo {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  height: 100%;
  padding-left: 5%;
  float: left; }

.logo {
  height: 100%;
  font-family: "Times New Roman", serif;
  font-size: 1.3rem; }

.logo-link {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  color: inherit; }

.name {
  color: #FCA180; }

.nav-list {
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: 0;
  transform: translateY(-50%); }

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent; }
  .nav-item:not(:last-child) {
    margin-right: 2rem; }
  .nav-item:hover {
    color: #FCA180;
    border-bottom: 2px solid #FCA180; }

.nav-menu {
  float: right;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer; }

/* ****************************************
 *
 *				Media Queires
 *
 **************************************** */
/* Small screen */
@media only screen and (max-width: 320px) {
  .nav-list {
    display: none; }

  .work__item {
    width: 100%; } }
/* Medium screen */
@media only screen and (min-width: 320px) and (max-width: 720px) {
  .nav-list {
    display: none; }

  .work__item {
    width: 100%; } }
/* Large screen */
@media only screen and (min-width: 720px) and (max-width: 1100px) {
  .nav-menu {
    display: none; }

  .work__item {
    width: calc((100% / 2) - 2em); } }
/* Extra-Large screen */
@media only screen and (min-width: 1100px) {
  .nav-menu {
    display: none; }

  .work__item {
    width: calc((100% / 3) - 2em); } }
.nav-list--wholepage {
  display: block;
  overflow: auto;
  float: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #ccc;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: unset;
  left: unset;
  right: 0;
  transform: none;
  z-index: 99; }

.nav-item--wholepage {
  border: 0;
  display: block;
  margin: 1rem 0;
  font-size: 4rem; }
  .nav-item--wholepage:not(:last-child) {
    margin-right: 0; }
  .nav-item--wholepage:hover {
    border: 0;
    background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
