/* Variables */
/* Mixins */
/* For testing */
/* Global Settings */
html, body {
  padding: 0;
  margin: 0;
  color: #6c6c6c;
  font-family: serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive, serif;
  font-weight: 700;
  letter-spacing: 0.1em; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #FCA180; }

a[role='button'] {
  display: inline-block;
  width: 8em;
  padding: 10px 15px;
  margin: 10px;
  border: 2px solid #FCA180;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #FCA180; }
  a[role='button']:hover {
    color: #fff;
    background-color: #FCA180;
    transition: background-color 1s ease-out; }

button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.hidden {
  display: none; }

/* Skeleton */
#container {
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  width: 100%; }

header, main > section, footer > section {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0 5%;
  position: relative; }

header > section {
  background-color: #fff;
  height: 100%; }

main > section::before {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset; }
main > section:nth-of-type(odd) {
  background-color: #f7f7f7; }

footer > section {
  height: auto;
  text-align: center; }

/* Landing */
.welcome {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%); }

/* Home */
.intro {
  width: 70%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 100px);
  bottom: unset;
  left: unset;
  right: unset;
  transform: translateY(-50%);
  font-size: 1.1em;
  line-height: 1.6em; }

.intro__buttons {
  margin-top: 30px;
  text-align: center; }

/* Font/Text */
.bold {
  font-weight: 700; }

/* Navbar */
.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.nav-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 5%; }

.nav-logo {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  height: 100%;
  padding-left: 5%;
  float: left; }

.logo {
  height: 100%;
  font-family: "Times New Roman", serif;
  font-size: 1.3rem; }

.logo-link {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  color: inherit; }

.name {
  color: #FCA180; }

.nav-list {
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: 0;
  transform: translateY(-50%); }

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent; }
  .nav-item:not(:last-child) {
    margin-right: 2rem; }
  .nav-item:hover {
    color: #FCA180;
    border-bottom: 2px solid #FCA180; }

.nav-menu {
  float: right;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  position: relative;
  top: 50%;
  bottom: unset;
  left: unset;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer; }

/* ****************************************
 *
 *				Media Queires
 *
 **************************************** */
/* Large screen */
@media only screen and (min-width: 720px) {
  .nav-menu {
    display: none; } }
/* Medium screen */
@media only screen and (min-width: 320px) and (max-width: 720px) {
  .nav-list {
    display: none; } }
/* Small screen */
@media only screen and (max-width: 320px) {
  .nav-list {
    display: none; } }
.nav-list--wholepage {
  display: block;
  overflow: auto;
  float: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #ccc;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: unset;
  left: unset;
  right: 0;
  transform: none;
  z-index: 99; }

.nav-item--wholepage {
  border: 0;
  display: block;
  margin: 1rem 0;
  font-size: 4rem; }
  .nav-item--wholepage:not(:last-child) {
    margin-right: 0; }
  .nav-item--wholepage:hover {
    border: 0;
    background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
